      <footer class="footer" id="footer">
        <div class="container">
          <div class="copy-right">
            <p>&copy; All copy rights are reserved</p>
          </div>
          <div class="contacts">
            <a onclick="openFacebook()"
              ><i class="fa-brands fa-facebook"></i
            ></a>

            <a onclick="openLinkedin()"
              ><i class="fa-brands fa-linkedin"></i
            ></a>

            <a onclick="openInstagram()"
              ><i class="fa-brands fa-instagram"></i
            ></a>

            <a href="mailto:nourmuhammed36@gmail.com"
              ><i class="fa-solid fa-envelope"></i
            ></a>
          </div>
        </div>
      </footer>
