<script>
    $("#name").change(function (){
        let val= $(this).val();

        $.ajax({
            url:"{% url "checkName" %}",

            data:{
                "name":val
            },

            dataType:"json",

            success:function (response){

            let bool=response["exists"];
            console.log(bool);

            if(bool===true){
                $("#usernameError").html("Username is already Taken")
                document.querySelector('.btn button').disabled = true;
            }

            if(bool===false){
                 $("#usernameError").html("")
                 document.querySelector('.btn button').disabled = false;
            }

            }

        });
    });

</script>